form.signup,
form.login {
  margin-top: 50px;
}

.nav-link {
  font-size: 19px;
  color: white;
  display: flex;
  margin-top: 40px;
}

.navbar-brand {
  align-items: center;
  display: flex;
  margin-top: 40px;
}



.jumbotron {
  margin-top: 50px;
  text-align: center;
  min-width: 100%;
  min-height: 100%;
}

body {
  background-image: url(https://i.pinimg.com/originals/00/2d/7e/002d7e638fb463fb7a266f5ffc7ac47d.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}


.saveplaylist {
  margin-bottom: 22px;
  outline: none
}

.save-to-playlist:visited {
  background-color: rgb(142, 174, 211); 
  color: rgb(0, 54, 125); 
  outline: none;
}

h1#logo {
  color: rgb(0, 54, 125)
}

h1 {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(0, 54, 125);
font-size: 40px;
} 

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(0, 54, 125);
}

.btn-save {
  background-color: rgb(0, 54, 125);
  color: whitesmoke;
  margin-top: 3px;
  border: 0!important; 
  outline: 0!important;
}

.btn-save:hover{
    background-color: rgba(142, 174, 211, 0.342);
    color: black;
    outline: none;
}


.btn-save:focus {
  background-color: rgba(142, 174, 211, 0.342);
  color: rgba(142, 174, 211, 0.342);
  outline: none;
  outline: none!important;
  padding: none;
  box-shadow: none!important;
}

/* .btn-save {
  border:none;
  outline:none;
  background: red;
} */

.btn-active {
  /* background-color: rgb(142, 174, 211);  */
  background-color: rgb(187, 251, 195); 
  border-color: rgb(187, 251, 195); 
  color: rgb(0, 54, 125); 
  margin-top: 3px
}

.progress-bar {
  background-color: rgb(0, 54, 125);
  color: whitesmoke;
}

.nav-link {
  color: rgb(229, 235, 241);
  background-color: transparent;
}

.btn-primary {
  background-color: rgb(0, 54, 125);
  color: whitesmoke;
  margin-top: 3px;
}

.videobox {
  outline-color: black;
  border-width: 100px;
}