form.signup,
form.login {
  margin-top: 50px;
}

.nav-link {
  font-size: 19px;
  color: white;
  display: flex;
  margin-top: 40px;
}

.navbar-brand {
  align-items: center;
  display: flex;
  margin-top: 40px;
}



.jumbotron {
  margin-top: 50px;
  text-align: center;
  min-width: 100%;
  min-height: 100%;
}

body {
  background-image: url(https://i.pinimg.com/originals/00/2d/7e/002d7e638fb463fb7a266f5ffc7ac47d.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}


.saveplaylist {
  margin-bottom: 22px;
}


.save-to-playlist {
  background-color: rgb(0, 54, 125);
  color: whitesmoke;
}

h1#logo {
  color: rgb(0, 54, 125)
}

h1 {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(0, 54, 125);
font-size: 40px;
} 

h2 {
  color: rgb(0, 54, 125);
}

.btn-default {
  background-color: rgb(0, 54, 125);
  color: whitesmoke;
  margin-top: 3px;
}

.btn-active {
  background-color: rgb(142, 174, 211); 
  color: rgb(0, 54, 125); 
  margin-top: 3px
}

.progress-bar {
  background-color: rgb(0, 54, 125);
  color: whitesmoke;
}

.nav-link {
  color: rgb(229, 235, 241);
  background-color: transparent;
}
